# 下载的资源数据（动皮/静皮/CG 视频），不入库
output/

# Python
__pycache__/
*.pyc

# 下载残留的临时分片文件
*.part

# note
note.txt

# 呜呜，被opencode go背刺了，额度用完了，试试免费的workbuddy。
# nnd，提交时workbuddy的沙箱机制把.git/删了，废了好大功夫才恢复，不能让它提交了。
/.workbuddy/
